body{
    background-color: rgb(64, 41, 0);
    color: rgb(255, 235, 138);
    font-family: "VT323", monospace;
    margin: 0;
    padding: 0;
}


#height{
    position: absolute;
    top: calc(50vh - 250px);
    left: calc(50vw + 125px);
}

#chatbot{
    position: absolute;
    top: calc(50vh - 250px);
    left: calc(50vw - 200px);
}

#canva{
    position: absolute;
    top: calc(50vh - 200px);
    left: calc(50vw - 200px);
    height: 400px;
    width: 400px;
    z-index: 100;
}

#cloud{
    position: absolute;
    top: calc(50vh - 200px);
    left: calc(50vw - 200px);
    height: 400px;
    width: 400px;
    z-index: -1;
    background-color: rgb(78, 173, 231);
    overflow: hidden;
}

#cloud-group{
    position: absolute;
    top: 0;
}


.clouds{
    position: absolute;
    z-index: -1;
}
