body{
    background-color: rgb(64, 41, 0);
}


#canva{
    position: absolute;
    top: calc(50vh - 200px);
    left: calc(50vw - 200px);
    height: 400px;
    width: 400px;
    z-index: 100;
}

#cloud{
    position: absolute;
    top: calc(50vh - 200px);
    left: calc(50vw - 200px);
    height: 400px;
    width: 400px;
    z-index: -1;
    background-color: rgb(78, 173, 231);
    overflow: hidden;
}

#cloud-group{
    position: absolute;
    top: 0;
}


.clouds{
    position: absolute;
    z-index: -1;
}

#cloud1{
    width: 121px;
    height: auto;
    top: 50px;
    left: 100px
}

#cloud2{
    width: 75px;
    height: auto;
    top: 150px;
    left: 270px
}

#cloud3{
    width: 91px;
    height: auto;
    top: 160px;
    left: 10px
}

#cloud4{
    width: 132px;
    height: auto;
    top: 5px;
    left: 250px
}

#cloud5{
    width: 121px;
    height: auto;
    top: -180px;
    left: 100px
}

#cloud6{
    width: 75px;
    height: auto;
    top: -80px;
    left: 270px
}

#cloud7{
    width: 91px;
    height: auto;
    top: -70px;
    left: 10px
}

#cloud8{
    width: 132px;
    height: auto;
    top: -210px;
    left: 250px
}

